<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/backend.jpg" alt="Diaz" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Diaz Adha</h1>
            <p class="lead">Backend Engineer</p>
        </div>
    </div>
</div>
    